<div class="comment">
  <small>
    <%= link_to comment.author.name, user_path(comment.author) %>
    <%= time_ago_in_words(comment.created_at) %> ago |
    <%= link_to "link", comment %>
  </small>
  <p><%= comment.body %></p>
  <small><%= link_to "Reply To Comment", comment_reply_path(comment) %></small>
</div>
<div class="comment-replies">
  <% comment.children.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
