<h1>Submit Story</h1>

<%= form_for(@story) do |f| %>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <ul>
    <% @story.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br>
  <%= f.fields_for(:comments) do |comment_form | %>
    <%= comment_form.label :body, "Add comment" %>
    <br>
    <%= comment_form.text_area :body%>
    <%= comment_form.hidden_field :author_id, value: current_user.id %>
  <% end %>

  <%= f.submit %>

<% end %>
